.c-blog {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    margin-right: 1.5rem;
    padding-block: 5rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      color: var(--neutral-color);
    }

    a {
      font-family: "Chapman", sans-serif;
      width: fit-content;
      text-decoration: underline;
      text-transform: uppercase;
      text-underline: var(--neutral-color);
      text-underline-offset: 5px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      color: var(--neutral-color);
    }
  }

  picture {
    position: relative;
    right: calc(-1 * (100vw - 200%) / 2);
    left: 0;
    display: block;
    width: 50vw;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-down(lg) {
      right: 0;
      width: 100%;
    }
  }
}
