.c-product {
  a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__description {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;

    transition: all 0.3s ease;

    gap: 0;
    @include active-item();

    p {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    div {
      width: 307px;
      
      @include media-breakpoint-up(lg) {
        width: 160px;
      }
    }

    &:before {
      margin-top: 0.5625rem;
    }
  }

  picture {
    width: 100%;
    aspect-ratio: 148 / 230;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &:hover {
    .c-product__description {
      @include activated-item();
      transition: all 0.3s ease;
      color: var(--primary-color);
      gap: 1rem;
    }
  }
}
