{% extends '_shared/_layout.twig' %}

{% block main %}

  <section class="c-shop container">
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3">
        {% set title = "Delvaux# Collection" %}
        {% set parts = title|split('#')|filter(v => v|trim is not empty) %}

        {% include '_components/_subtitle.twig' with {
          title: parts[0] ?? '',
          description: parts[1] ?? '',
          additionalClasses: 'c-shop__title'
        } %}
      </div>
      <div class="col-12 col-lg-3">
        <div class="c-shop__filters">
          {% set currentProductType = craft.app.request.getQueryParam('productType') %}
          {% set baseUrl = craft.app.request.getPathInfo() %}

          <div class="c-shop__categories">
            <h3 class="u-italic">Category</h3>
            <div class="c-shop__btns">
              {% set queryParams = craft.app.request.getQueryParams() %}

              {% for productType in craft.commerce.productTypes.allProductTypes %}
                {% set isActive = (productType.handle == currentProductType) %}

                {% set url = isActive
                  ? url(baseUrl)
                  : url(baseUrl, { productType: productType.handle }) %}

                <a href="{{ url }}"
                   class="c-btn {{ isActive ? 'c-btn--active' }}">
                  {{ productType.name }}
                </a>
              {% endfor %}

            </div>
          </div>

          <div class="c-shop__filtertypes">
            <h3 class="u-italic">Filter</h3>

            {% set allCategories = craft.categories.all() %}
            {% set dropdownData = [] %}

            {% for groupName, categoriesInGroup in allCategories|group('group.name') %}
              {% set dropdownData = dropdownData|merge([{
                title: groupName,
                filters: categoriesInGroup
              }]) %}
            {% endfor %}

            <div class="c-shop__dropdowns">
              {% for dropdown in dropdownData %}
                {% include '_components/dropdown.twig' with dropdown %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-lg-9">
        <div class="o-grid">
          {% set categoryGroups = craft.app.categories.getAllGroups() %}

          {% set matchedCategoryGroups = [] %}
          {% set matchedValues = [] %}

          {% for categoryGroup in categoryGroups %}
            {% set kebabName = categoryGroup.name|kebab %}
            {% if queryParams[kebabName] is defined %}
              {% set matchedCategoryGroups = matchedCategoryGroups | merge([kebabName]) %}
              {% set value = queryParams[kebabName] %}

              {% if value is iterable %}
                {% set matchedValues = matchedValues | merge(value) %}
              {% else %}
                {% set matchedValues = matchedValues | merge(value|split(',')) %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if matchedCategoryGroups is not empty and matchedValues is not empty %}
            {% set category = craft.categories.group(matchedCategoryGroups).slug(matchedValues) %}
            {% set products = craft.products.type(currentProductType).relatedTo(category).all() %}
          {% else %}
            {% set products = craft.products.type(currentProductType).all() %}
          {% endif %}

          {% for product in products %}
            {% include '_components/_productcard' with product %}
          {% endfor %}

        </div>
      </div>
    </div>
  </section>

{% endblock %}