<section class="c-email container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>{{ section.title }}</h2>
    </div>
    <div class="col-12 col-lg-6">
      <div class="c-email__address">
        <p>{{ section.description }}</p>

        <form class=" js-form" novalidate>
          <div class="c-email__input">
            <input class="js-email" type="email" aria-label="Email Address"
                   placeholder="{{ companyInfo.emailAddress }}" name="email"
                   id="email">

            <button type="submit">
              <i class="fa-solid fa-{{ section.email }}"></i>
            </button>
          </div>

          <div class="c-email__msg">
            <p class="c-email__text js-empty-message">The email field cannot be empty.</p>
            <p class="c-email__text js-invalid-message">Submitted email is invalid.</p>
            <p class="c-email__text js-valid-message">Submitted email is valid.</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>