{% import '_macros/images.twig' as img %}

<article class="c-product">
  <a href="/shop/{{ product.slug }}">

    {{ img.responsiveImage(product.productPhotos[0], {
      aspectRatio: '9:14',
      quality: 80,
      transformHandle: 'img2Webp'
    }) }}

    <div class="c-product__description">
      <p>
        {{ product.title }}
        <span>{{ product.defaultVariant.price|commerceCurrency }}</span>
      </p>
    </div>
  </a>
</article>