{% import '_macros/images.twig' as img %}

<article class="c-product">
  <a href="/shop/{{ product.slug }}">

    {{ img.responsiveImage(product.productPhotos, {
      aspectRatio: '9:14',
      quality: 80,
      transformHandle: 'img2Webp'
    }) }}

    <div class="c-product__description">
      <div>
        <p>{{ product.title }}</p>
        <p>{{ product.defaultVariant.price|commerceCurrency }}</p>
      </div>
    </div>
  </a>
</article>