<label for="name">Name (4 to 8 characters):</label>

<input
  type="text"
  id="name"
  name="name"
  required
  minlength="4"
  maxlength="8"
  size="10" />

<div class="warning-message">
  <p>{{ element.title }}</p>
</div>

<p class="js-output">hello</p>
<script src="../../src/js/icon-picker.js"></script>