{% extends '_shared/_layout.twig' %}

{% set cart = craft.commerce.carts.cart %}
{% set gateway = craft.commerce.gateways.getGatewayByHandle('mollie') %}

{% block main %}
    <section class="container">
        {% if cart and cart.lineItems|length %}
            <h2>Payment Information</h2>
            <form method="post" class="c-checkout" id="mcForm">
                <div class="c-checkout__fields">
                    <div class="c-checkout__element">
                        <label for="card-holder">Name</label>
                        <div class="c-checkout__input" id="card-holder"></div>
                        <div id="card-holder-error" class="field-error"></div>
                    </div>

                    <div class="c-checkout__element">
                        <p>4111 1111 1111 1111</p>
                        <label for="card-number">Card number</label>
                        <div class="c-checkout__input" id="card-number"></div>
                        <div id="card-number-error" class="field-error"></div>
                    </div>

                    <div class="c-checkout__element">
                        <label for="expiry-date">Expiry date</label>
                        <div class="c-checkout__input" id="expiry-date"></div>
                        <div id="expiry-date-error" class="field-error"></div>
                    </div>

                    <div class="c-checkout__element">
                        <label for="verification-code">CVC</label>
                        <div class="c-checkout__input" id="verification-code"></div>
                        <div id="verification-code-error" class="field-error"></div>
                    </div>
                </div>

                <button class="c-btn" id="submit-button" type="submit">
                    Pay {{ cart.totalPrice|commerceCurrency }}
                </button>

                <div id="form-error" class="field-error"></div>
            </form>
        {% else %}
            <p>Your cart is empty. Please <a href="/">add some items</a> to continue.</p>
        {% endif %}
    </section>
{% endblock %}
