{% extends '_shared/_layout.twig' %}


{% block main %}


  {% for section in home.sections.all() %}
    {% if section.type.handle == 'blogPosts' %}
      {% include '_sections/blog.twig' with section %}
    {% elseif section.type.handle == 'newProducts' %}
      {% include '_sections/newproducts.twig' with section %}
    {% elseif section.type.handle == 'review' %}
      {% include '_sections/review.twig' with section %}
    {% elseif section.type.handle == 'email' %}
      {% include '_sections/email.twig' with section %}
    {% else %}
      <section class="container">
        <h2>{{ section.title }}</h2>
      </section>
    {% endif %}
  {% endfor %}


{% endblock %}