{% extends '_shared/_layout.twig' %}

 {% block main %}
   {% set order = craft.orders()
     .isCompleted(true)
     .orderBy('dateOrdered DESC')
     .one() %}

   {% if order %}
     <section class="container">
       <h1>Your Completed Order</h1>

       <ul>
         <li>
           <strong>Order #{{ order.number }}</strong>
           <ul>
             {% for item in order.lineItems %}
               <li>
                 ({{ item.qty }}) {{ item.sku }} – {{ item.subtotal | commerceCurrency }}
               </li>
             {% endfor %}
           </ul>
         </li>
       </ul>
     </section>
   {% else %}
     <p>No completed orders found.</p>
   {% endif %}
 {% endblock %}
