{% set currentPath = craft.app.request.getPathInfo() %}

{% for menu in links %}
  <li class="c-menu__item {% if menu.navigationUrl == '/' ~ currentPath %}c-menu__item--active{% endif %}">
    {% include '_components/navigation/_menuitem' with { navigationMenu: menu } %}
  </li>
{% endfor %}
